<!DOCTYPE html>
<html lang="en" ng-app="ModFour">
<head>
    <meta charset="UTF-8">
    <title>Four in a line</title>

    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css"/>
</head>
<body ng-controller="CtrlFour">
<div id="loader">
    <i class="fa fa-spinner fa-6"></i>
</div>
<div class="container" id="wrapper">
    <div class="row">
        <div ng-show="!playing || finish" class="">
            <h1>Choose your side, Neo</h1>
            <div class="btn-group" role="group" aria-label="...">
                <button ng-click="choosePlayer('red')" type="button" class="btn btn-danger">Red</button>
                <button ng-click="choosePlayer('blue')" type="button" class="btn btn-primary">Blue</button>
            </div>
        </div>
        <div class="game">
            <div ng-show="playing && !finish" class="col-md-6">
                <h1>Current player is:  {{ player.slice(0, 1).toUpperCase() }}{{player.slice(1)}} </h1>
                <h1>Your Color is:  {{ you.slice(0, 1).toUpperCase() }}{{you.slice(1)}} </h1>
                <div class="gameBoard">
                    <div ng-repeat="tables in table">
                        <span class="{{tables[0]}} eof button" ng-click="assign(0)"> </span>
                        <span class="{{tables[1]}} button" ng-click="assign(1)"> </span>
                        <span class="{{tables[2]}} button" ng-click="assign(2)"> </span>
                        <span class="{{tables[3]}} button" ng-click="assign(3)"> </span>
                        <span class="{{tables[4]}} button" ng-click="assign(4)"> </span>
                        <span class="{{tables[5]}} button" ng-click="assign(5)"> </span>
                        <span class="{{tables[6]}} button" ng-click="assign(6)"> </span>
                    </div>
                </div>
            </div>
        </div>
    
    <div ng-show="finish" ng-click="finishEnd()" class="finish-button" ng-class="winner">
        <h2>Winner is: {{ winner.slice(0, 1).toUpperCase() }}{{winner.slice(1)}}! <br/>
            Click here to try again...</h2>
    </div>


    <div id="messages-box" class="col-md-6 row">
        <div id="login" ng-show="!ifLogged && !ifRegister" class="col-md-6">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="text" class="form-control" ng-model="login" placeholder="Login">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" ng-model="password" placeholder="Password">
              </div>
              <button ng-click="loginFunc()" class="btn btn-default">Login</button>
              <button ng-click="toggleRegister()" class="btn btn-default">Register</button>
            </form>
        </div>
        <div id="register" ng-show="ifRegister" class="col-md-6">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="text" class="form-control" ng-model="login" placeholder="Login">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" ng-model="password" placeholder="Password">
              </div>
              <button ng-click="register()" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div id="logged" ng-show="ifLogged" class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="fighter in fighters | orderBy:fighter.rank">{{$index + 1}}. {{fighter.login}} : {{fighter.rating}}</li>
            </ul>
        </div>



        <ul id="messages" class="list-group"></ul>
        <div id="send-message">
            <form action="">
                <input id="m"/><button>Send</button>
            </form>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            var socket = io.connect();
            $('#send-message form').submit(function(){
                var temp = $('#m').val();
                if (temp !== '') {
                    socket.emit('chat message', temp);
                    //$('#messages').prepend($('<div>').text("You"));
                    $('#messages').prepend($('<li class=list-group-item>').text(temp).prepend($('<span class="badge">').text('You')));
                    $('#m').val('');
                } else {
                    console.log("Empty message not send!");
                }
                return false;
            });

            $('#login form').submit(function(){
                return false;
            });
            $('#register form').submit(function(){
                return false;
            });

            socket.on('chat message', function(msg){
                console.log("message: " + msg);
                //$('#messages').prepend($('<div>').text("Opponent"));
                $('#messages').prepend($('<li class=list-group-item>').text(msg).prepend($('<span class="badge">').text('Opponent')));
            });
        </script>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="script.js"></script>
<script src="main.js"></script>
</body>
</html>