
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; margin: 20px;}
#send-message { background: rgba(0, 0, 0, 0.08); padding: 3px; position: fixed; bottom: 0; width: 90%; }
#send-message input { border: 0; padding: 10px; width: 45%; margin-right: .5%; }
#send-message button { width: 9%; background: #C4B4AF; border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; height: 500px; overflow: auto; position: inherit; right: 0}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.messages-box {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#wrapper{
    display: none;
}

span{
    float: left;
    border-radius: 10px;
}
.gameBoard{
    height: 600px;
    width: 600px;
    overflow: auto;
}
.finish-button{
    margin: 0 auto;
    text-align: center;
    background-color: #ff6b75;
    border-radius: 5px;
    height: 20%;
    width: 70%;
    padding: 10px;
}

.button{
    width: 50px;
    height: 50px;
    margin:10px;
}

.white{
    background-color: #C4B4AF;
}
.red{
    background-color: #ff6b75;
}
.blue{
    background-color: #0014ff;
}
.eof{
    float: left;
    clear: left;
    display:inline
}


